<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="/images/logohotel.jpg" class="d-inline-block align-top" width="70" height="40" alt=""
            style="float: left">
        <h2>HOTEL Transilvania</h2>
    </a>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <form class="form-inline">
        <a href="#"><button class="btn btn-outline-success" type="button"
                style="border-radius: 25px">Sign-up</button></a>
        &nbsp;
        <a href="/login"><button class="btn btn-outline-primary text-primary" type="button"
                style="border-radius: 25px">Sign-in</button></a>
    </form>
</nav>