<body style="background: chartreuse">
  <h6>Welcome to {{title}} Transilvania!</h6>
  <H4 style="background: grey; padding:15px;color:white;">
    <Marquee>Sensasi Menginap Di Hotel Mewah Berharga Murah...</Marquee>
  </H4>
  <br>
  <h5>List Kamar & Harga :</h5>
  <br>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="images/kamar1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamar No.20 Dengan 2 Kasur Mewah untuk pasangan(Rp.780.000/Malam)</h5>
          <p class="card-text">
            <h5>Fasilitas Hotel :</h5>
            • Terletak dekat dengan Bandara Internasional Jakarta <br>
            • Gedung dengan shopping area <br>
            • Kedai kopi <br>
            • 24 jam in-room dining <br>
            • Pusat Bisnis
          </p>
          <p class="card-text"><small class="text-muted">Belum Terisi!</small></p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="">Selengkapnya>>></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="images/kamar2.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamar No.17 Dengan Kolam Renang Eksotis (Rp.890.000/Malam)</h5>
          <p class="card-text">
            <h5>Fasilitas Hotel :</h5>
            • Kolam Renang <br>
            • Pijat <br>
            • Akses internet Wi-Fi gratis<br>
            • Layanan Laundry and dry cleaning<br>
            • Layanan pembersih sepatu
          </p>
          <p class="card-text"><small class="text-muted">Belum Terisi!</small></p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="">Selengkapnya>>></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="images/kamar3.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamar No.36 Street view yang indah (Rp.660.000/Malam)</h5>
          <p class="card-text">
            <h5>Fasilitas Hotel :</h5>
            • Baby sitting<br>
            • Meja pramutamu<br>
            • Penyewaan mobil<br>
            • Koran harian gratis<br>
            • Toko hadiah
          </p>
          <p class="card-text"><small class="text-muted">Penuh!</small></p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="">Selengkapnya>>></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="images/kamar4.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamar No.43 Dengan Letak Kamar yang Strategis (Rp.775.000/Malam)</h5>
          <p class="card-text">
            <h5>Fasilitas Hotel :</h5>
            • Tempat penukaran mata uang<br>
            • Parkir mobil outdoor<br>
            • 24-jam keamanan dan kamera CCTV <br>
            • Pusat Kebugaran <br>
            • Salon Creambath
          </p>
          <p class="card-text"><small class="text-muted">Belum Terisi!</small></p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="">Selengkapnya>>></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <center><a href="">
      <h4>Lihat Lainnya...</h4>
    </a></center>
  <hr>
  <br>
  <footer style="background:rgba(24, 79, 131, 0.952); text-align:center; padding: 60px; color:white;">
    <table border="0" width="100%" cellpadding="" cellspacing="3">
      <tr>
        <th width="300">Dapatkan Promo Menarik dan terbatas di Hotel Transilvania</th>
        <th width="150">Alamat Hotel Transilvania</th>
        <th width="350">Peta Lokasi Hotel Transilvania</th>
      </tr>
      <tr>
        <td>
          <marquee behavior="" direction=""><a href="" style="color: rgb(29, 115, 228); padding:20px;">
              <h6 style="background: white; text-align:center;">Promo Cek Disini</h6>
            </a></marquee>
        </td>
        <td>
          <center>Jl. Raya Cianjur Bandung Km. 09, Sukaluyu, Selajambe, Cianjur, Kabupaten Cianjur, Jawa Barat 43215
          </center>
        </td>
        <td>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253549.974276607!2d107.21935180676427!3d-6.804077275692302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68535d2dd12b03%3A0xbb08b654531fb447!2sNurul+Islam+Vocational+High+School!5e0!3m2!1sid!2sid!4v1566429797536!5m2!1sid!2sid"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    </td>
    <tr>
      <td colspan="2" bgcolor="lightblue">
        <center>©Copyright SMK Nurul Islam Affandiyah Cianjur</center>
        <center>By Diandra Ariesta</center>
      </td>
    </tr>
    </table>
    <hr>
</body>
</body>
</footer>